<!doctype html>
<html ng-app="neioREST">
<head>
    <meta charset="utf-8"></meta>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/tomorrow-night.min.css">
    <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>

    <script src="neiorest.js"></script>
    <link rel="stylesheet" href="neiorest.css">

    <title>neioREST</title>
</head>
<body ng-controller="neioRESTCtrl">
    <header class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <h1>neioREST</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <alert ng-repeat="message in messages" type="message.type" close="closeMessage($index)">
            <strong>{{message.type}}: </strong>{{message.content}}
        </alert>

        <div ng-show="templates.length > 0" class="row panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title col-sm-2">Templates</h3>

                <div class="input-group col-sm-2 col-sm-offset-10">
                    <input class="form-control input-sm" type="text" name="templatefilter" ng-model="templateFilter" placeholder="filter"/>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-inline col-sm-12">
                    <li ng-repeat="template in templates | filter:templateFilter">
                        <a ng-click="previewTemplate($index, template)" href="#">{{template.name}}</a>
                        <button ng-click="deleteTemplate($index,template)" type="button" class="close" aria-hidden="true">&times;</button>
                    </li>
                </ul>
            </div>
            <div collapse="!templatePreview" class="panel-footer">
                <div class="panel-heading">
                    <h3 class="panel-title"><a ng-click="templatePreview = null" href="#">Preview</a></h3>
                </div>
                <div class="panel-body">
                    <div hljs source="templatePreview | json" class="row">
                    </div>
                    <button ng-click="loadTemplate(templatePreview)" type="button" class="btn btn-primary">Load template</button>
                </div>
            </div>
        </div>

        <div class="row panel panel-default">
            <div class="panel-heading">
                <h3 class="col-sm-2 panel-title">Request</h3>

                <div class="input-group col-sm-3 col-sm-offset-9">
                    <input class="form-control input-sm" type="text" name="templatename" ng-model="request.name" placeholder="template name"/>
                    <div class="input-group-btn">
                        <button ng-click="addTemplate(request.name)" type="button" class="btn btn-primary btn-sm">Save current</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default dropdown-toggle">
                                {{request.method}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="method in methods">
                                    <a ng-click="setMethod(method)">{{method}}</a>
                                </li>
                            </ul>
                        </div>
                        <input type="text" ng-model="request.url" name="requestUrl" placeholder="url" class="form-control" />
                        <div class="input-group-btn">
                            <button ng-click="query()" class="btn btn-primary">
                                <span class="glyphicon glyphicon-send">
                                    Send
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <tabset class="panel-body">
                        <tab heading="Parameters">
                            <div class="row">
                                <label class="col-sm-1">state</label>
                                <label class="col-sm-2">key</label>
                                <label class="col-sm-9">value</label>
                            </div>
                            <div ng-repeat="parameter in request.parameters" class="panel-body">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <button ng-click="toggleActive(parameter)" class="btn btn-sm" ng-class="{'btn-info': parameter.active, 'btn-warning': !parameter.active}">
                                            <span class="glyphicon" ng-class="{'glyphicon-eye-open': parameter.active, 'glyphicon-eye-close': !parameter.active}"></span>
                                        </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" ng-model="parameter.key" ng-disabled="!parameter.active" value="{{parameter.key}}" class="form-control input-sm"/>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" ng-model="parameter.value" ng-disabled="!parameter.active" value="{{parameter.value}}" class="form-control input-sm"/>
                                    </div>
                                    <div class="col-sm-2">
                                        <button ng-click="addParameter($index)" class="btn btn-sm btn-success">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button ng-click="removeParameter($index, parameter)" class="btn btn-sm btn-danger">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Headers">
                            <div class="row">
                                <label class="col-sm-1">state</label>
                                <label class="col-sm-2">header</label>
                                <label class="col-sm-9">content</label>
                            </div>
                            <div ng-repeat="header in request.headers" class="panel-body">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <button ng-click="toggleActive(header)" class="btn btn-sm" ng-class="{'btn-info': header.active, 'btn-warning': !header.active}">
                                            <span class="glyphicon" ng-class="{'glyphicon-eye-open': header.active, 'glyphicon-eye-close': !header.active}"></span>
                                        </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" ng-model="header.key" ng-disabled="!header.active"
                                            value="{{header.key}}"
                                            class="form-control input-sm"
                                            typeahead="httpHeader for httpHeader in httpHeaders | filter:$viewValue" typeahead-editable="false" />
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" ng-model="header.value" ng-disabled="!header.active" value="{{header.value}}" class="form-control input-sm"/>
                                    </div>
                                    <div class="col-sm-2">
                                        <button ng-click="addHeader($index)" class="btn btn-sm btn-success">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button ng-click="removeHeader($index, header)" class="btn btn-sm btn-danger">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>

        <div class="row panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Response</h3>
            </div>

            <div class="panel-body">
                <div collapse="progress.collapsed" class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <progressbar type="{{progress.type}}"
                        class="progress-striped active"
                        value="progress.value">
                        processing...
                        </progressbar>
                    </div>
                </div>

                <div collapse="response.collapsed" class="row">
                    <div class="panel-body">
                        <tabset>
                            <tab heading="Content">
                            <div class="panel-body">
                                <div ng-if="responseIsJson" hljs source="response.content | json">
                                </div>
                                <div ng-if="!responseIsJson" hljs source="response.content">
                                </div>
                            </div>
                            </tab>
                            <tab heading="Preview">
                            <div class="panel-body">
                                <div ng-bind-html="response.preview">
                                </div>
                            </div>
                            </tab>
                            <tab heading="Headers">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <tr ng-repeat="header in response.headers">
                                        <td>{{header.header}}</td>
                                        <td>{{header.content}}</td>
                                    </tr>
                                </table>
                            </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
