<form method="post" action="/query" class="form requestform" name="requestForm">
    <div class="form-group">
        <div class="col-sm-1" style = "display: none">
            <input name="requestMethod" type="text" class="form-control"
            value="{{request.method | lower }}"/>
        </div>
        <div class="input-group">
            <div class="input-group-btn methodselect">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="currentMethod">{{ request.method|upper }}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">GET</a></li>
                    <li><a href="#">POST</a></li>
                </ul>
            </div>

            <input name="requestUrl" type="text" class="form-control"
            placeholder="http://" value="{{ request.url }}" />
            <div class="input-group-btn">
                <button data-loading-text="Sending..." type="submit" class="btn
                    btn-primary">send</button>
            </div>
        </div>
    </div>

    {% if mode == 'form' %}
    {% include 'requestform.html' with context %}
    {% else %}
    {% include 'requestraw.html' with context %}
    {% endif %}
</form>
